@font-face {
    font-family: Archive;
    src: url(Archive.otf);
}
@font-face {
    font-family: Aller;
    src: url(Aller.ttf);
}
html{
    scroll-behavior: smooth;
    background-color: #FFF6D9;
}
body{
    font-family: Archive;
}
.navbar-start.is-centered{
    margin: 0 auto;
    font-size: 1.5rem;
}
.hero.is-white .hero-body{
    padding-bottom: 100px !important;
    padding-top: 120px !important;
}
.columns.hero-body{
    padding:0;
}
.columns{
    margin: 0;
}
.table{
    font-size: 1.5rem;
}
.size-bigger{
    font-size: 20rem;
}
.size-big{
    font-size: 5rem;
}
.is-centered{
    margin: 0 auto;
}
.hero.is-purple{
    background-color: #9A4734;
    color: #fff;
}
.is-top-head-color{
    background-color: #25A38B;
}
.is-magenta{
    background-color: #ED5840;
}
.is-green{
    background-color: #25A38B;
}
.is-light-green{
    background-color: #B2D890;
}
.is-main-title-color{
    color: #064F4A !important;
}
.color-magenta{
    color: #ED5840 !important;
}
.color-white{
    color: #fff;
}
.color-green{
    color: #25A38B;
}
.color-dark-green{
    color: #064F4A;
}
#contact a{
    color: #25A38B;
}
.text-description{
    font-family: Aller;
    font-size: 1.2rem;
}
.logo-footer{
    width: 250px;
    margin: 2rem;
}
.text-footer{
    font-family: Aller;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.margin-top{
    margin-top: 3rem;
}
.margin-bottom{
    margin-bottom: 3rem;
}
.disabled{
    pointer-events: none;
}
.table{
    background-color: transparent;
}