/*Main Variables*/
:root{
  --first-bg-color:#2196f3;
  --second-bg-color:#4caf50;
  --first-font-color:rgba(0, 0, 0, 0.80);
  --second-font-color:white;
  --third-font-color:#00a79d;
  --main-gradient:linear-gradient(to bottom right, #2196f3, #02ccba);
  --inset-shadow:inset 0 0 50px -6px rgba(0, 0, 0, 0.3);
}
/* General Styles */
html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
a {
text-decoration: none !important;
color: var(--first-font-color);
transition: all ease-in-out 0.3s;
}
a:hover{
  color: var(--third-font-color);
}
h3 {
    font-size: 1.7rem;
}
h4{
  font-size: 1.7rem;
}
#home, #services, #portfolio, #testimonials{
  animation: 1.5s ease 0s normal fadein;
}

/* Attributes */
.third-font-color{
  color: var(--third-font-color);
}
.container {
    width: 100%;
    text-align: center;
}
.container-fluid {
  padding:0;
}
.pageTitle {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
}
.page-second-title{
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
}
.white{
  background-color: white;
}
.autoheight{
  height: auto;
}
.fullwidth{
  width: 100%;
}
.nopadding{
  padding:0;
}
.lightpadding{
  padding: 8px;
}
.nomargin{
  margin:0;
}
.marginlight{
  margin: 10px 0 10px 0;
}
.borderradius{
  border-radius: 0.375rem;
}
.italic{
  font-style: italic;
}
.sub-font-size{
  font-size: 1.5rem;
}
.box {
    color: white;
    height: auto;
    padding: 0;
    margin-top: 20px;
    color: var(--first-font-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}
.row{
  margin-right: 0;
}
.box-graduated {
    color: white;
    height: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}
.shadowbox{
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
}
.round-image{
  border-radius: 50%;
}
.thumbnail{
  width: 200px;
}
i.fa-facebook-square{
  font-size: 2rem !important;
}
i.fa-times-circle{
  font-size: 2rem !important;
}

/* Home Section */
.particles-bg {
    color: var(--second-font-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: -1;
    background: #4B79A1;
    background: var(--main-gradient);
    background-size: 400% 400%;
    -webkit-animation: gradientAnimation 10s ease infinite;
    -moz-animation: gradientAnimation 10s ease infinite;
    animation: gradientAnimation 10s ease infinite;
}

.particles-bg::after {
    content: "";
    background: url("../img/bgmountain-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.09;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.home {
    color: var(--second-font-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    box-shadow: var(--inset-shadow);
}

.cont {
    width: 250px;
    height: 250px;
    position: relative;
    margin: 0 auto;
}

i.fa-graduation-cap{
  font-size: 10rem;
}

.social {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}
.arrow {
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    margin-top: 10px;
    animation: biggerSmaller 2s ease infinite;
    color: white;
}

/* Classes Page*/

.services {
    width: 100%;
    height: auto;
    padding: 40px 0;
    color: rgba(0, 0, 0, 0.87);
    background: #FEFEFE;
    display: flex;
    align-items: center;
}

.box i {
    font-size: 40px;
}
.services .box:hover {
    opacity: 1;
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
    border: 10px rgba(0, 0, 0, 0.5);
}
/* Portfolio Section */

.portfolio {
    width: 100%;
    color: var(--first-font-color);
    display: flex;
    z-index: -1;
    align-items: center;
    background: white;;
}
.portfolio::after {
    content: "";
    opacity: 0.09;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
.img-portfolio{
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}
.portfolio .box-graduated:hover, .box-graduated:focus, .box-graduated:active {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
    border: 10px rgba(0, 0, 0, 0.5);
    background:transparent;
    position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.81);
  transition: .3s ease-in-out;
  color: var(--third-font-color);
  display: flex;
  align-items: center;
}
.portfolio .box-graduated:hover .overlay {
  opacity: 1;
}
div{
  text-align: center;
}

.testimonial{
  max-height: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

/* Testimonials Section */
.testimonials {
  color: var(--second-font-color);
  width: 100%;
  height: auto;
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom right, #2196f3, #02ccba);
  background-size: 120% 120%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.testimonials:hover{
  font-size: 1.1rem !important;

}
i.fa-comments{
  font-size: 3rem;
  color:white;
}

/* Footer */
#footer{
  height: auto;
  background-color: transparent;
}
.image-footer{
  width: 100px;
  margin: 5px auto;
}

/* Modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
  overflow: scroll;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: auto;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}
.modal-body, .modal-footer{
  padding: 5px;
}

.modal-header-second{
  margin: 0 auto;
  width: 100%;
}

.modal-header h3 {
  margin-top: 0;
  color: var(--third-font-color);
}

.modal-default-button {
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
ul{
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
}
.table-graduated{
  width: auto;
  margin: auto;
}

/* Animations */
@keyframes biggerSmaller {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes gradientAnimation {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
